.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "-  hd hd"
    "sd ct ct"
    "ft ft ft";
}

.item {
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}

#header {
  background-color: rgb(142, 142, 146);
  grid-area: hd;
}

#sidebar {
  background-color: rgb(48, 48, 51);
  grid-area: sd;
}

#content {
  background-color: rgb(43, 43, 44);
  grid-area: ct;
}

#footer {
  background-color: rgb(163, 163, 173);
  grid-area: ft;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "a a b c d"
    "e f g g h"
    "i j g g -"
    "k k k l m";
}

.item2 {
  background-color: rgb(142, 142, 146);
  margin: 5px;
  text-align: center;
}

#a {
  grid-area: a;
}

#b {
  grid-area: b;
}

#c {
  grid-area: c;
}

#d {
  grid-area: d;
}

#e {
  grid-area: e;
}

#f {
  grid-area: f;
}

#g {
  grid-area: g;
}

#h {
  grid-area: h;
}

#i {
  grid-area: i;
}

#j {
  grid-area: j;
}

#k {
  grid-area: k;
}

#l {
  grid-area: l;
}

#m {
  grid-area: m;
}

@media only screen and (max-width: 600px) {
  .container2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k"
      "l"
      "m"
      ;
  }
}
